* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: bruce forever;

}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(./image/home.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
}

/* .container::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: .2;
} */

/* .logo {
    padding-top: 5%;
} */


h1 {
    padding-top: 2em;
    color: white;
    font-size: 50px;
    font-weight: 900;
    /* margin: 0 auto; */

}

.start div{
    display: flex;
    justify-content: center;
    padding-top: 240px;
}

div button {
    background-color: #C53592;
    color: white;
    font-size: 200%;
    font-weight: 700;
    width: 230px;
    height: 90px;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px  #ffffff;
    border: none;
    border-radius: 30px;
}

div button:hover {
    box-shadow: inset -5px -5px 12px skyblue,
                inset  5px  5px 12px  skyblue;
    color: lightblue;
}



/* start selection section */

.selection-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.selection-items {
    width: 20rem;
    height: 15rem;
    background-image: url(/image/option\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 82px 2em;
    border-radius: 25%;
    z-index: 1;
    
}

.selection-items1 {
    width: 20rem;
    height: 15rem;
    background-image: url(/image/option\ \(2\).jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 82px 2em;
    border-radius: 25%;
    
}

.selection-items2 {
    width: 20rem;
    height: 15rem;
    background-image: url(/image/option\ \(3\).jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 82px 2em;
    border-radius: 25%;
    
}

.selection-container a {
    text-decoration: none;
}

.selection-items h1:hover {
    color: lightblue;
}

.selection-items1 h1:hover {
    color: rgb(224, 51, 51);
}
.selection-items2 h1:hover {
    color: green;
}

/* start popup con */

.level-container {
    width: 30em;
    height: 20em;
    background-color: pink;
}

#text {
    font-size: 50px;
}

.level-button {
    font-size: ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 25px; */
}

.one {
    width: 15em;
}






















/* .content {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* 
#selection .selection-items {
    padding: 30px;
    border-radius: 20px;
    background-image: url(/image/option\ \(1\).jpg);
    background-size: cover;
    margin: 91px 3%;
}

#selection .selection-items1 {
    padding: 30px;
    border-radius: 20px;
    background-image: url(/image/option\ \(2\).jpg);
    background-size: cover;
    margin: 91px 3%;
}

#selection .selection-items2 {
    padding: 30px;
    border-radius: 20px;
    background-image: url(/image/option\ \(3\).jpg);
    background-size: cover;
    margin: 91px 3%;
}

.selection-items a {
    text-decoration: none;
} */


/* h1 {
    font-family: bruce forever;
    font-weight: 700; */
    /* font-size: 250%; */
    /* color: white;
    padding: 2.4em 1.5em;

} */

/* .box div {
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; */
    /* /* padding-bottom: 250px; */
    /* padding-left: 10%;  */
/* } */

/* div a {
    text-decoration: none;
    font-family: bruce forever; */
    /* color: rgb(202, 150, 159); */
    /* color: rgb(141, 55, 84);
    font-size: 50px;
    font-weight: 700;
    padding-top: 10%;
    padding-bottom: 20%;
} */
/* 
div a:hover{
    color: rgb(253, 121, 141);
} */

/* ul {
    list-style: none;
}

ul a {
    text-decoration: none;
} */

/* #container {
    background-image: url(./image/home.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

.option {
    display: flex;
    justify-content: center;
}

button {
    size: 50%;
    background-color: mediumslateblue;
    size: 50px;
    margin-left: 5%;
} */
























/* min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */