* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: bruce forever;
    font-weight: 700;
    /* font-size: 250%; */
    color: white;
    padding: 4em 1.5em;

}

.box div {
    /* max-height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* /* padding-bottom: 250px; */
    /* padding-left: 10%;  */
}

a {
    text-decoration: none;
    font-family: bruce forever;
    /* color: rgb(202, 150, 159); */
    color: rgb(141, 55, 84);
    font-size: 50px;
    font-weight: 700;
}

a:hover{
    color: rgb(253, 121, 141);
}

/* ul {
    list-style: none;
}

ul a {
    text-decoration: none;
} */

#container {
    background-image: url(./image/home.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

.option {
    display: flex;
    justify-content: center;
    padding-top: 5em;
    margin: 2em 9em 5em;
    border-radius: 20%;
}

.one {
    size: 50%;
    background-color: mediumslateblue;
    border-radius: 20%;
    margin-right: 8%;
}

.two {
   size: 50%;
    background-color: pink;
    border-radius: 20%;
    margin-right: 8%;
}

.three {
    size: 50%;
    background-color: lightblue;
    border-radius: 20%;
    margin-right: 8%;
}
























/* min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */